.event-search-list {
    background-color: white;
}

.logo {

    max-width: 10%;
    max-height: 5%;
    width: auto;
    height: auto;
}

.icon-padding {
    margin-right: 5px;
}

a {
    color: black;
    textDecoration: 'none';
}
a:hover {
    color: black;
    textDecoration: 'none';

}
Link{
    textDecoration: 'none'
}
a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: #ddd;
    color:            black;
}
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: #ddd;
    color:            black;
}
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
    font-weight:      bold;
    background-color: blue;
    color:            black;
}
a:active  {
    /* Applies to activated links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: black;
    color: black;
}